In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("mortgage_data_balanced.pkl.gz")

In [3]:
pd.crosstab(df["applicant_ethnicity_name"], df["action_taken_name"])/200000 * 100.0

action_taken_name,Application denied by financial institution,Loan originated
applicant_ethnicity_name,,
Hispanic or Latino,3.972,2.687
Not Hispanic or Latino,46.028,47.313

In [4]:
pd.crosstab(df["applicant_race_name_1"], df["action_taken_name"])/200000 * 100.0

action_taken_name,Application denied by financial institution,Loan originated
applicant_race_name_1,,
American Indian or Alaska Native,0.4675,0.2485
Asian,2.5825,3.1330
Black or African American,5.3060,2.2000
Native Hawaiian or Other Pacific Islander,0.2305,0.1600
White,41.4135,44.2585

In [5]:
pd.crosstab(df["applicant_sex_name"], df["action_taken_name"])/200000 * 100.0

action_taken_name,Application denied by financial institution,Loan originated
applicant_sex_name,,
Female,16.081,13.333
Male,33.919,36.667