In [11]:
import pandas as pd
%matplotlib inline

## Import data

In [ ]:
## Read the file
#data = pd.read_csv("hmda_2011_nationwide_first-lien-owner-occupied-1-4-family-records_labels.csv")
data = pd.read_csv("hmda_2011_nationwide_all-records_labels.csv", nrows=3000000)

## Checkings

In [37]:
data.shape

(3000000, 78)

In [38]:
data.columns

Index(['as_of_year', 'respondent_id', 'agency_name', 'agency_abbr',
       'agency_code', 'loan_type_name', 'loan_type', 'property_type_name',
       'property_type', 'loan_purpose_name', 'loan_purpose',
       'owner_occupancy_name', 'owner_occupancy', 'loan_amount_000s',
       'preapproval_name', 'preapproval', 'action_taken_name', 'action_taken',
       'msamd_name', 'msamd', 'state_name', 'state_abbr', 'state_code',
       'county_name', 'county_code', 'census_tract_number',
       'applicant_ethnicity_name', 'applicant_ethnicity',
       'co_applicant_ethnicity_name', 'co_applicant_ethnicity',
       'applicant_race_name_1', 'applicant_race_1', 'applicant_race_name_2',
       'applicant_race_2', 'applicant_race_name_3', 'applicant_race_3',
       'applicant_race_name_4', 'applicant_race_4', 'applicant_race_name_5',
       'applicant_race_5', 'co_applicant_race_name_1', 'co_applicant_race_1',
       'co_applicant_race_name_2', 'co_applicant_race_2',
       'co_applicant_race_name_3', 'co_applicant_race_3',
       'co_applicant_race_name_4', 'co_applicant_race_4',
       'co_applicant_race_name_5', 'co_applicant_race_5', 'applicant_sex_name',
       'applicant_sex', 'co_applicant_sex_name', 'co_applicant_sex',
       'applicant_income_000s', 'purchaser_type_name', 'purchaser_type',
       'denial_reason_name_1', 'denial_reason_1', 'denial_reason_name_2',
       'denial_reason_2', 'denial_reason_name_3', 'denial_reason_3',
       'rate_spread', 'hoepa_status_name', 'hoepa_status', 'lien_status_name',
       'lien_status', 'edit_status_name', 'edit_status', 'sequence_number',
       'population', 'minority_population', 'hud_median_family_income',
       'tract_to_msamd_income', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'application_date_indicator'],
      dtype='object')

In [39]:
data.describe()

,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,...,lien_status,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
count,3000000.0,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,2.633447e+06,...,3.000000e+06,576940.0,3.000000e+06,2.978915e+06,2.978859e+06,2.978982e+06,2.978362e+06,2.977826e+06,2.978341e+06,3.000000e+06
mean,2011.0,7.432993e+00,1.350881e+00,1.023907e+00,2.283479e+00,1.103087e+00,2.081367e+02,2.882847e+00,2.761794e+00,2.944142e+04,...,1.672701e+00,6.0,2.544978e+05,5.898431e+03,2.171289e+01,7.059993e+04,1.187273e+02,1.645481e+03,2.086364e+03,4.153937e-01
std,0.0,2.336828e+00,6.593413e-01,1.659612e-01,9.368318e-01,3.135034e-01,3.954469e+02,3.681470e-01,2.007879e+00,1.148475e+04,...,1.222961e+00,0.0,4.596604e+05,3.048176e+03,2.138369e+01,1.389599e+04,3.883758e+01,9.365178e+02,1.130840e+03,8.113158e-01
min,2011.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.018000e+04,...,1.000000e+00,6.0,1.000000e+00,1.000000e+00,2.300000e-01,1.630000e+04,4.160000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,2011.0,7.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.020000e+02,3.000000e+00,1.000000e+00,1.814000e+04,...,1.000000e+00,6.0,3.309000e+03,3.913000e+03,6.630000e+00,6.200000e+04,9.381000e+01,1.042000e+03,1.363000e+03,0.000000e+00
50%,2011.0,9.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,1.640000e+02,3.000000e+00,2.000000e+00,3.114000e+04,...,1.000000e+00,6.0,3.610200e+04,5.313000e+03,1.423000e+01,6.790000e+04,1.119800e+02,1.472000e+03,1.850000e+03,0.000000e+00
75%,2011.0,9.000000e+00,2.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,2.590000e+02,3.000000e+00,4.000000e+00,3.890000e+04,...,1.000000e+00,6.0,2.337952e+05,7.096000e+03,2.846000e+01,8.140000e+04,1.364900e+02,2.017000e+03,2.511000e+03,0.000000e+00
max,2011.0,9.000000e+00,4.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,9.500000e+04,3.000000e+00,8.000000e+00,4.974000e+04,...,4.000000e+00,6.0,2.166131e+06,3.614600e+04,1.000000e+02,1.119000e+05,4.967000e+02,9.880000e+03,1.072400e+04,2.000000e+00

In [49]:
data["denial_reason_name_1"].value_counts()

Collateral                                        94346
Credit history                                    82398
Debt-to-income ratio                              79117
Credit application incomplete                     50226
Other                                             43278
Unverifiable information                          13140
Insufficient cash (downpayment, closing costs)     8290
Employment history                                 4714
Mortgage insurance denied                           642
Name: denial_reason_name_1, dtype: int64

In [40]:
data["action_taken_name"].value_counts()

Loan originated                                        1455767
Loan purchased by the institution                       623087
Application denied by financial institution             457683
Application withdrawn by applicant                      247374
Application approved but not accepted                   121830
File closed for incompleteness                           88514
Preapproval request denied by financial institution       3642
Preapproval request approved but not accepted             2103
Name: action_taken_name, dtype: int64

## Subsets of data
### 1. sample 200,000 keeping roughly the original distribution
### 2. sample 200,000, with 50/50 share of accepted/rejected

In [119]:
# remove nans and not applicable
sex_rem = (data["applicant_sex_name"] != 'Information not provided by applicant in mail, Internet, or telephone application') & (data["applicant_sex_name"] != 'Not applicable')
race_rem = (data["applicant_race_name_1"] != 'Information not provided by applicant in mail, Internet, or telephone application') & (data["applicant_race_name_1"] != 'Not applicable')
eth_rem = (data["applicant_ethnicity_name"] != 'Information not provided by applicant in mail, Internet, or telephone application') & (data["applicant_ethnicity_name"] != 'Not applicable')
rem_data = sex_rem & race_rem & eth_rem
rem_data = rem_data & (data["applicant_income_000s"].isnull() == False) & (data["population"].isnull() == False)
rem_data = rem_data & (data["minority_population"].isnull() == False) & (data["hud_median_family_income"].isnull() == False)
rem_data = rem_data & (data["tract_to_msamd_income"].isnull() == False) & (data["number_of_owner_occupied_units"].isnull() == False) & (data["number_of_1_to_4_family_units"].isnull() == False)

# get data
subset_orig = (data["action_taken_name"] == "Loan originated") & rem_data
subset_denied = (data.loc[rem_data]["action_taken_name"] == "Application denied by financial institution") & rem_data
subset_loans = (data.loc[rem_data]["action_taken_name"] == "Loan originated") | (data.loc[rem_data]["action_taken_name"] == "Application denied by financial institution") & rem_data

In [120]:
subdf_1 = data.loc[subset_loans].sample(n=200000, random_state=10)
subdf_1.index = list(range(subdf_1.shape[0]))

In [121]:
subdf_2 = pd.concat([data.loc[subset_orig].sample(n=100000, random_state=10), 
                     data.loc[subset_denied].sample(n=100000, random_state=10)], 
                    axis=0, ignore_index=True)

## Checking if the proportions are kept

### Sample 1

In [122]:
# gender
(subdf_1["applicant_sex_name"].value_counts()/subdf_1.shape[0] - data.loc[subset_loans]["applicant_sex_name"].value_counts()/data.loc[subset_loans].shape[0])

Male     -0.001239
Female    0.001239
Name: applicant_sex_name, dtype: float64

In [123]:
# race
(subdf_1["applicant_race_name_1"].value_counts()/subdf_1.shape[0] - data.loc[subset_loans]["applicant_race_name_1"].value_counts()/data.loc[subset_loans].shape[0])

White                                        0.000747
Asian                                       -0.000372
Black or African American                    0.000137
American Indian or Alaska Native            -0.000246
Native Hawaiian or Other Pacific Islander   -0.000266
Name: applicant_race_name_1, dtype: float64

In [124]:
# ethnicity
(subdf_1["applicant_ethnicity_name"].value_counts()/subdf_1.shape[0] - data.loc[subset_loans]["applicant_ethnicity_name"].value_counts()/data.loc[subset_loans].shape[0])

Not Hispanic or Latino   -0.000055
Hispanic or Latino        0.000055
Name: applicant_ethnicity_name, dtype: float64

In [125]:
# accept/denied
(subdf_1["action_taken_name"].value_counts()/subdf_1.shape[0] - data.loc[subset_loans]["action_taken_name"].value_counts()/data.loc[subset_loans].shape[0])

Loan originated                               -0.001372
Application denied by financial institution    0.001372
Name: action_taken_name, dtype: float64

### Sample 2

In [126]:
# gender
(subdf_2["applicant_sex_name"].value_counts()/subdf_2.shape[0] - data.loc[subset_loans]["applicant_sex_name"].value_counts()/data.loc[subset_loans].shape[0])

Male     -0.013659
Female    0.013659
Name: applicant_sex_name, dtype: float64

In [127]:
# race
(subdf_2["applicant_race_name_1"].value_counts()/subdf_1.shape[0] - data.loc[subset_loans]["applicant_race_name_1"].value_counts()/data.loc[subset_loans].shape[0])

American Indian or Alaska Native             0.001064
Asian                                       -0.002487
Black or African American                    0.016677
Native Hawaiian or Other Pacific Islander    0.000564
White                                       -0.015818
Name: applicant_race_name_1, dtype: float64

In [128]:
# ethnicity
(subdf_2["applicant_ethnicity_name"].value_counts()/subdf_1.shape[0] - data.loc[subset_loans]["applicant_ethnicity_name"].value_counts()/data.loc[subset_loans].shape[0])

Not Hispanic or Latino   -0.00704
Hispanic or Latino        0.00704
Name: applicant_ethnicity_name, dtype: float64

In [129]:
# accept/denied
(subdf_2["action_taken_name"].value_counts()/subdf_2.shape[0] - data.loc[subset_loans]["action_taken_name"].value_counts()/data.loc[subset_loans].shape[0])

Application denied by financial institution    0.271907
Loan originated                               -0.271907
Name: action_taken_name, dtype: float64

## Exporting files

In [130]:
subdf_1.to_csv("mortgage_data.csv")
subdf_1.to_pickle("mortgage_data.pkl.gz")

In [131]:
subdf_2.to_csv("mortgage_data_balanced.csv")
subdf_2.to_pickle("mortgage_data_balanced.pkl.gz")